.main-content{
  width: 72%;
  margin: auto;
}
.table{
  border-collapse: collapse; 
  width: 100%;
}
th, td {
  padding: 5px;
}
.discr{
  padding-left: 30px;
}
.discrs{
  padding-left: 300px;
}
th {
  text-align: left;
}
.table-head{
  border-bottom: 1px solid black;
  line-height: 25px;
}
.a {
  width: 9%;
}
.b {
  width: 4%;
}
.lines{
  border-bottom-style:1px solid black ;
}