.heading1 {
  background-color: rgb(245, 239, 239);
  list-style-type: none;
  font-size: 15px;
  padding: 0;
 text-align: left;
  color: black;
  width: 70%;
  margin: auto;
  padding: 60px;
}
.bol{
  font-size: 20px;
}
.head{
  padding-left: 70px;
  font-family: initial;
}
.hea{
  font-family: initial;
}
.padd{
  padding-bottom: 10px;
}