.table{
  border-collapse: collapse; 
  width: 100%;
}
.main-content{
  width: 72%;
  margin: auto;
}
.table-head{
  border-bottom: 1px solid black;
  line-height: 25px;
}
.bol{
  font-size: 20px;
  border-collapse: collapse;
}
.head{
  padding-left: 70px;
  font-family: initial;
  text-align: left;
}
.hea{
  font-family: initial;
  text-align: left;
}