.main-content{
  width: 72%;
  margin: auto;
}
.pi{
  width: 20px;
}
.pic{
  width: 40px;
}
.spa{
  font-weight: bold;
}
.spac{
  padding-left: 15%;
  font-weight: bold;
}
.table-head{
  border-bottom: 1px solid rgb(175, 173, 173);
  line-height: 25px;
}